
.avatar {
    width: 100px;
    height: 100px;
    background: plum;
    transition: width 2s, height 2s, transform 2s;
  }
  
  .avatar:hover {
    width: 300px;
    height: 300px;
    transform: rotate(1800deg);
  }